*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
   
}
.main4{
    width: 30vmax;
   
    padding: 5px 30px;
    
}
input{
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    height: 20px;
    background-color:transparent ;

    color: #fff;
 outline: none;   
}
textarea{
    padding: 20px;

    border-radius: 20px;
    height: 100px;
    background-color:transparent ;
    color: #fff;
    border: none;
    outline: none;
}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: white;
}
.h1{
    font-family: ogg;
}


.rect{
        width: 30vmin;
        height: 30vmin;
        background-color: palevioletred;
        /* background-color: rgb(233, 233, 73); */
        border-radius: 20px; margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        color: #fff;
        margin-top: 25px;
    
}
.innerrect{
  
    height: 90px;
}
.btcreate{
    border-radius: 50%;
    margin-left: 85%;
    margin-top: 8px;
}